<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Orders</title>
    {% load val_at_ind %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'view_orders_customer.css' %}">
</head>
<body>
<center>
    {% ifequal request.session.user_type 'Cashier'  %}

        {% include 'cashier/option_panel.html' %}


        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}

        {% if message %}
            <strong>{{ message }}</strong>
        {% endif %}
        {% if orders %}
        <table>
        <thead>
        <th>Order ID</th>
        <th>Items Ordered</th>
        <th>Total Cost</th>
        <th>Order Placed On</th>
        <th>Order Placed by</th>
        </thead>
        {% for order in orders %}
            <tr>
            <td>{{ order.order_id }}</td>
            <td>
                {% for item in order.itemquantity_set.all %}
                    {{ item.food_id }} : {{ item.quantity }}<br>
                {% endfor %}
            </td>
            <td>{{ order.total_cost }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.user_id.name }}</td>
            <td><a href="{% url 'access:home:cashier:download_pdf' order.order_id %}">Download the Bill</a> </td>
            </tr>
        {% endfor %}
        </table>
            {% else %}
            <strong>No orders placed yet! :(</strong>
        {% endif %}
    {% else %}
        <strong>You don't seem to be a cashier</strong>
    {% endifequal %}
</center>
</body>
</html>