<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View offers</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'delete_button_offer.css' %}">
    <link rel="stylesheet" href="{% static 'OfferDisplay.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<center>
{% ifequal request.session.user_type 'Manager' %}
    {% for offer in offers %}
        <div class="offer">
            You are offering <b>{{ offer.discount }} % </b> discount on item <b>{{ offer.food_id }}</b>
            <br><br>
            <a onclick='if(confirm("Are you sure you want to delete {{ food.name }}?")){location.href = "{% url 'access:home:manager:delete_offer' offer.id %}"};'>
                <button type="button" class="del"><i class="fa fa-trash-o" style="font-size: 27px"></i></button>
            </a>
        </div>

        {% if forloop.counter == 2 %}
            <br><br>
        {% endif %}
    {% endfor %}
{% else %}
    <strong>You don't seem to be a manager, kindly check your credentials</strong>
{% endifequal %}

</center>
</body>
</html>