<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Feedbacks</title>
    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Comic+Neue:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ViewFeedback.css' %}">
    <link rel="stylesheet" href="{% static 'Update_button.css' %}">

</head>
<body>
<center>
    {% ifequal request.session.user_type 'Manager' %}

        {% include 'manager/option_panel.html' %}

        {% for feedback in feedbacks %}
            <div class="feedback" style="border-color: #ff007f">
                <p class="heading">Feedback ID : {{ feedback.feedback_id }}</p>
                <p class="heading">Feedback by : {{ feedback.by.name }}</p>
                <p class="heading">Items purchased</p>
                {% for item in feedback.order_id.items.all %}
                    <p>{{ item }}</p>
                {% endfor %}
                <p class="heading">Extra description</p>
                <p>{{ feedback.message }}</p>
                <p class="heading">Order made on : {{ feedback.order_id.order_date }}</p>
            </div>
            <br><br>
        {% endfor %}
        {% if not feedbacks %}
            <strong>No user has added any feedbacks yet</strong>
        {% endif %}
    {% else %}
        <strong>You don't seem to be a Manager</strong>
    {% endifequal %}

</center>
</body>
</html>