<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Food Items</title>

    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Comic+Neue:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'FoodDisplay.css' %}">
    <link rel="stylesheet" href="{% static 'Update_button.css' %}">

</head>
<body>

<br><br><br>
{% ifequal request.session.user_type 'Manager' %}
    {% for food in foods %}
        <div class="fooditem">
            <img src="{{ food.photo.url }}" alt="{{ food.name | title }}"><hr>
            <p class="name">{{ food.name | title }}</p>
            <p class="description">{{ food.description }}</p>
            <p class="serves">Serves {{ food.serves }} human(s)</p>
            <p class="rating_head">Rating : <b>{{ food.rating }}</b></p>
            <p class="rating_head">Category : <b>{{ food.category }}</b></p>
            <p class="price">₹ {{ food.cost }}</p>
            <form action="{% url 'access:home:manager:update_fooditem' %}" method="post">
                {% csrf_token %}
                <input type="text" hidden value="{{ food.id }}" name="pid">
                <center><button class="name noselect">Update</button></center>
            </form>
            <br>
            <center>
            <a onclick='if(confirm("Are you sure you want to delete {{ food.name }}?")){location.href = "{% url 'access:home:manager:delete_fooditem' food.id %}"};'>
                <button class="name noselect">Delete</button>
            </a></center>
        </div>
        {% if forloop.counter == 4 %}
            <br><br><br>
        {% endif %}
    {% endfor %}
    <br>
{% else %}
<strong>You are not authenticated as a manager</strong>
{% endifequal %}

</body>
</html>