<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give Feedback</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body>
<center>
    {% ifequal request.session.user_type 'Customer' %}
    {% else %}
        <strong>You don't seem to be a customer</strong>
    {% endifequal %}
</center>
</body>
</html>