<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Feedbacks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ViewFeedback.css' %}">
</head>
<body>
<center>
    {% ifequal request.session.user_type 'Customer' %}

        {% include 'customer/option_panel.html' %}

        {% for feedback in feedbacks %}
            <div class="feedback">
                <p class="heading">Feedback ID : {{ feedback.feedback_id }}</p>
                <p class="heading">Order ID : {{ feedback.order_id.order_id }}</p>
                <p class="heading">Items purchased</p>
                {% for item in feedback.order_id.items.all %}
                    <p>{{ item }}</p>
                {% endfor %}
                <p class="heading">Extra description</p><p>{{ feedback.message }}</p>
            <p class="heading">Order made on : {{ feedback.order_id.order_date }}</p>
            </div>

            {% if forloop.counter|divisibleby:"3" %}
            <br><br><br>
        {% endif %}
            <br><br>
        {% endfor %}
    {% else %}
        <strong>You don't seem to be a customer</strong>
    {% endifequal %}

</center>
</body>
</html>