<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Choice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=birthstone&family=Seymour+One&Roboto+Mono:wght@200&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'FormStyle.css' %}">

</head>
<body><center>
{% if message %}
        <br><br>
        <strong>{{ message }}</strong>
        <br><br>
    {% endif %}

<form action="{% url 'access:user_choice' %}" method="post" class="login">
    {% csrf_token %}
    What kind of user are you?
    {{ form.as_p }}
    <input type="hidden" value="1" name="formval">
    {% if not x %}
    <button type="submit" class="slide">
        <div class="submit">Next</div>
        <i class="icon-arrow-right"></i>
    </button>
    {% endif %}
    {% if x %}
           <label>Enter Email ID of your superviser</label><br>
            <label>Email ID</label><br>
           <input type="email" name="email_">
            <input type="hidden" value="2" name="formval">
           <br><br>
            <button type="submit" class="slide">
                <div class="submit">Next</div>
                <i class="icon-arrow-right"></i>
            </button>
    {% endif %}
</form>

</center></body>
</html>