div.head{
    font-size: 50px;
    font-family: 'Seymour One';
    font-weight: 900;
    background-image: linear-gradient(to right, indigo, #bdc3c7, #2c3e50, #bfe9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form.login{
    color: black;
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;
    font-size:25px;
}
div.formstyle{
    width: 400px;
    padding: 10px;
    border: 5px salmon;
    margin: 0;
    box-sizing: border-box;
}
.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide::after {
  content: "";
  background-color: #F3F2F2;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

div.submit{
    font-family: "Roboto Mono", monospace;
}
.fill {
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);

}

.fill::after {
  content: "";
  background-color: #bdc3c7;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
.container {
  width: 250px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}